### Student Name: Aidan Keeshan
### Student ID: 18200117

In [7]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from sklearn.datasets import make_moons
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
import math
from sklearn.datasets.samples_generator import make_blobs
from sklearn.model_selection import train_test_split
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import seaborn as sns

## Task 1 Import CSV

The first column of the source CSV has no title and is linear ascending integer from zero.    
I assume this was exported from pandas which exports the index unless specified otherwise.    
On import a new index was created and a field called 'Unnamed: 0' was in place or the original index.    
To remove redundancy I have set index_col=['Unnamed: 0'] as appeared in  df.columns.values.   
This may be unstable solution as undocumented, as far as I can see.   
It is not guaranteed the field name will be called that in all version of pandas.

In [8]:
df = pd.read_csv("bank_et2.csv",index_col=['Unnamed: 0'])
"|".join(df.columns.values)

'age|job|marital|education|default|balance|ratio_bal_ln|ratio_ln_inc|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|subscribed'

In [17]:
df_orig = pd.read_csv("../etivity1/bank_et1.csv",index_col=['Unnamed: 0'])
df_all = pd.concat([df, df_orig],axis='columns', keys=['New', 'Orig'])
df_all
#df_orig

       New                                                                   \
       age            job   marital  education default balance ratio_bal_ln
0     32.0     technician    single   tertiary      no     392     1.300134
1     39.0     technician  divorced  secondary      no     688    -0.193701
2     59.0        retired   married  secondary      no    1035     1.334266
3     47.0    blue-collar   married  secondary      no     398     0.362286
4     54.0        retired   married  secondary      no    1004     0.072075
5     46.0  self-employed  divorced   tertiary      no     926     0.233619
6     34.0    blue-collar   married  secondary      no    1924     0.022648
7     45.0       services  divorced  secondary      no     396    -0.724889
8     58.0     management  divorced   tertiary      no     315     0.502131
9     49.0     management  divorced   tertiary      no   20727     1.331625
10    38.0     management    single        NaN      no     715     1.079459
11    49.0         admin.   married  secondary      no     182     1.368597
12    36.0     technician   married  secondary      no    4613     0.590779
13    39.0     technician   married  secondary      no     508     1.573236
14    48.0       services   married  secondary      no       0     1.287662
15    38.0    blue-collar   married        NaN      no       0     0.606796
16    46.0  self-employed   married  secondary      no     -30     0.505795
17    35.0  self-employed   married   tertiary      no     560     1.099462
18    58.0     technician   married  secondary      no       1     1.748854
19    35.0     management    single   tertiary      no    4348     0.644615
20    32.0         admin.   married   tertiary      no     233     0.677957
21    30.0     management    single   tertiary      no       0    -1.138506
22    53.0    blue-collar   married    primary      no    1409    -0.260514
23    40.0     management   married    primary      no     738     0.936778
24    57.0     management   married   tertiary      no    1631     1.251207
25    37.0     management   married   tertiary      no     489    -1.197289
26    38.0     technician   married  secondary      no    -421    -0.594570
27    54.0        retired   married    primary      no     136     1.724462
28    56.0         admin.   married    primary      no       0     0.812373
29    24.0       services    single  secondary      no     496     0.592871
...    ...            ...       ...        ...     ...     ...          ...
1970  33.0   entrepreneur    single   tertiary      no    1623    -1.280929
1971  25.0        student    single  secondary      no    2975     0.200606
1972  29.0     unemployed    single        NaN      no    1584    -0.424682
1973  72.0        retired   married  secondary      no    1978     0.491401
1974  33.0         admin.   married  secondary      no     616     0.625250
1975  45.0            NaN   married   tertiary      no     406    -2.211965
1976  28.0     management    single   tertiary      no     890    -0.301395
1977  61.0        retired   married    primary      no      56    -0.041864
1978  24.0        student    single  secondary      no     689    -1.264354
1979  37.0     management    single   tertiary      no     698    -0.501950
1980  24.0        student    single   tertiary      no     834    -0.639404
1981  24.0        student    single  secondary      no     139    -1.235718
1982  28.0     management   married   tertiary      no      12    -0.595160
1983  24.0         admin.    single  secondary      no     166     0.362868
1984  58.0     management   married   tertiary      no       0    -0.169010
1985  21.0        student    single        NaN      no    1506    -0.326086
1986  40.0   entrepreneur   married   tertiary      no    3585    -1.718622
1987  63.0         admin.  divorced  secondary      no    4680    -0.782554
1988  24.0        student    single  secondary      no    8165     0.118311
1989  33.0    blue-collar    single    primary      no     611     0.001615
1990  36.0     technician   married   tertiary      no     376    -0.064640
1991  39.0         admin.  divorced  secondary      no     112    -0.921793
1992  78.0        retired  divorced    primary      no     527    -0.611713
1993  35.0     management   married        NaN      no    2326    -0.624331
1994  26.0        student    single  secondary      no     655    -0.249693
1995  20.0        student    single        NaN      no    2785    -2.170524
1996  28.0         admin.    single  secondary      no     127     0.811788
1997  81.0        retired   married    primary      no    1154     0.504655
1998  46.0       services   married    primary      no    4343    -0.965874
1999  40.0   entrepreneur   married  secondary      no    6403    -0.800893

                                  ...     Orig                                \
     ratio_ln_inc housing loan    ...     loan    contact day month duration
0        0.473895     yes   no    ...       no   cellular   1   apr      957
1        0.237021     yes  yes    ...      yes   cellular   1   apr      233
2        0.121981     yes  yes    ...      yes   cellular   1   apr      126
3        1.251328     yes  yes    ...      yes   cellular   1   apr      274
4       -0.533738     yes   no    ...       no   cellular   1   apr      479
5        0.922197     yes   no    ...       no   cellular   1   apr      463
6        0.724227     yes  yes    ...      yes   cellular   1   apr      161
7       -0.998605     yes  yes    ...      yes   cellular   1   apr      251
8       -0.045391     yes   no    ...       no   cellular   1   apr      121
9       -0.420830      no   no    ...       no   cellular   1   apr      285
10      -1.642914     yes   no    ...       no   cellular   2   apr      951
11      -0.263568     yes   no    ...       no   cellular   2   apr      303
12       0.309580      no   no    ...       no   cellular   2   apr      320
13      -1.482466     yes   no    ...       no   cellular   2   apr      598
14       0.551498     yes   no    ...       no   cellular   2   apr      146
15       0.583824     yes   no    ...       no   cellular   2   apr      477
16      -0.151908     yes  yes    ...      yes   cellular   2   apr      164
17      -0.092550     yes   no    ...       no   cellular   2   apr       58
18      -1.156533      no   no    ...       no   cellular   2   apr      333
19       0.431755     yes   no    ...       no   cellular   2   apr     1074
20       0.079620     yes   no    ...       no   cellular   2   apr       77
21      -1.481342     yes   no    ...       no   cellular   2   apr      293
22       0.083709     yes   no    ...       no   cellular   2   apr      464
23       0.742725     yes  yes    ...      yes   cellular   2   apr      399
24       0.283715     yes   no    ...       no   cellular   2   apr      254
25       1.099454     yes   no    ...       no   cellular   3   apr      246
26       0.407199     yes   no    ...       no   cellular   3   apr      187
27       0.959839     yes   no    ...       no   cellular   3   apr      352
28      -0.450325     yes   no    ...       no   cellular   3   apr      353
29       1.550979     yes   no    ...       no   cellular   3   apr      297
...           ...     ...  ...    ...      ...        ...  ..   ...      ...
1970    -0.146341     yes   no    ...       no   cellular   2   sep      291
1971     1.078382      no   no    ...       no   cellular   2   sep      799
1972    -0.299822      no   no    ...       no   cellular   6   sep      245
1973     1.746620      no   no    ...       no   cellular   6   sep      312
1974     0.149365      no   no    ...       no   cellular   6   sep      250
1975     2.109631      no   no    ...       no   cellular   7   sep      314
1976     1.471592     yes   no    ...       no   cellular   7   sep      201
1977    -0.173809      no   no    ...       no   cellular   7   sep      288
1978    -0.387756      no   no    ...       no   cellular   8   sep      630
1979     1.046475      no   no    ...       no   cellular   8   sep     1081
1980     0.117345      no   no    ...       no   cellular   9   sep      679
1981     0.663853      no   no    ...       no   cellular   9   sep      430
1982     0.286229     yes   no    ...       no   cellular   9   sep      202
1983     1.654440      no   no    ...       no   cellular  10   sep      256
1984     1.775916      no   no    ...       no   cellular  14   sep      358
1985     1.517427      no   no    ...       no   cellular  14   sep      340
1986     2.439846      no   no    ...       no   cellular  15   sep      506
1987    -0.015605      no   no    ...       no   cellular  15   sep      953
1988    -0.277829      no   no    ...       no   cellular  15   sep      216
1989     0.725171      no   no    ...       no  telephone  16   sep      390
1990    -0.001414      no   no    ...       no   cellular  16   sep      173
1991     0.819346      no   no    ...       no   cellular  16   sep      574
1992     2.519517      no   no    ...       no   cellular  16   sep      193
1993     0.273081     yes  yes    ...      yes   cellular  16   sep      319
1994     1.152874      no   no    ...       no   cellular  16   sep      190
1995     1.081071      no   no    ...       no   cellular  16   sep      327
1996     1.134496      no   no    ...       no   cellular  16   sep     1334
1997     0.042190      no   no    ...       no  telephone  17   sep      231
1998     0.302708     yes   no    ...       no        NaN  20   sep      185
1999     1.066659      no   no    ...       no   cellular  22   sep      208


     campaign pdays previous poutcome subscribed
0           2   131        2  failure         no
1           2   133        1  failure         no
2           2   239        1  failure         no
3           1   238        2  failure         no
4           1   307        1  failure         no
5           1   133        3  failure         no
6           2   253        1  failure         no
7           4   329        4  failure         no
8           2   135        2  failure         no
9           3   132        2  failure         no
10          1   132        3  failure         no
11          1   331        2  failure         no
12          1   134        2  failure         no
13          2   135        5  failure         no
14          1   267        1  failure         no
15          2   267        1  failure         no
16          1   300        2  failure         no
17          1   136        1  failure         no
18          1    64        2  failure         no
19          3   217        8  failure         no
20          2   133        4  failure         no
21          2   314        2  failure         no
22          1   287        1  failure         no
23          2   258        3  failure         no
24          2   261        3  failure         no
25          2   133        6  failure         no
26          1   332        5  failure         no
27          1   332        2  failure         no
28          2   227        4  failure         no
29          1   323        2  failure         no
...       ...   ...      ...      ...        ...
1970        3    -1        0      NaN        yes
1971        2    -1        0      NaN        yes
1972        1    -1        0      NaN        yes
1973        1    -1        0      NaN        yes
1974        3    -1        0      NaN        yes
1975        1    -1        0      NaN        yes
1976        1    -1        0      NaN        yes
1977        3    -1        0      NaN        yes
1978        1    -1        0      NaN        yes
1979        2    -1        0      NaN        yes
1980        1    -1        0      NaN        yes
1981        4    -1        0      NaN        yes
1982        1    -1        0      NaN        yes
1983        2    -1        0      NaN        yes
1984        2    -1        0      NaN        yes
1985        1    -1        0      NaN        yes
1986        3    -1        0      NaN        yes
1987        2    -1        0      NaN        yes
1988        1    -1        0      NaN        yes
1989        2    -1        0      NaN        yes
1990        1    -1        0      NaN        yes
1991        3    -1        0      NaN        yes
1992        1    -1        0      NaN        yes
1993        1    -1        0      NaN        yes
1994        1    -1        0      NaN        yes
1995        2    -1        0      NaN        yes
1996        2    -1        0      NaN        yes
1997        1    -1        0      NaN        yes
1998        1    -1        0      NaN        yes
1999        2    -1        0      NaN        yes

[2000 rows x 38 columns]

### Top 5 Records

In [9]:
df.head(5)

,age,job,marital,education,default,balance,ratio_bal_ln,ratio_ln_inc,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
0,32.0,technician,single,tertiary,no,392,1.300134,0.473895,yes,no,cellular,1,apr,957,2,131,2,failure,no
1,39.0,technician,divorced,secondary,no,688,-0.193701,0.237021,yes,yes,cellular,1,apr,233,2,133,1,failure,no
2,59.0,retired,married,secondary,no,1035,1.334266,0.121981,yes,yes,cellular,1,apr,126,2,239,1,failure,no
3,47.0,blue-collar,married,secondary,no,398,0.362286,1.251328,yes,yes,cellular,1,apr,274,1,238,2,failure,no
4,54.0,retired,married,secondary,no,1004,0.072075,-0.533738,yes,no,cellular,1,apr,479,1,307,1,failure,no

### Bottom 5 Records

In [10]:
df.tail(5)

,age,job,marital,education,default,balance,ratio_bal_ln,ratio_ln_inc,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
1995,20.0,student,single,NaN,no,2785,-2.170524,1.081071,no,no,cellular,16,sep,327,2,-1,0,NaN,yes
1996,28.0,admin.,single,secondary,no,127,0.811788,1.134496,no,no,cellular,16,sep,1334,2,-1,0,NaN,yes
1997,81.0,retired,married,primary,no,1154,0.504655,0.042190,no,no,telephone,17,sep,231,1,-1,0,NaN,yes
1998,46.0,services,married,primary,no,4343,-0.965874,0.302708,yes,no,NaN,20,sep,185,1,-1,0,NaN,yes
1999,40.0,entrepreneur,married,secondary,no,6403,-0.800893,1.066659,no,no,cellular,22,sep,208,2,-1,0,NaN,yes